/* GLOBAL RULES */

* {
  box-sizing: border-box;
}
body {
  font-family: "Marvel";
  background-color: rgb(36, 36, 36);
}
.container {
  width: 1340px;
  margin: 0 auto;
}
button {
  background-color: #ed161f;
  color: white;
  font-family: "Marvel";
  outline: none;
  cursor: pointer;
  border: none;
  padding: 5px;
}
input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
  background-color: transparent;
}
/* HEADER  */

header {
  background-color: black;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}
header .container > div {
  display: flex;
  align-items: center;
}

header img {
  width: 125px;
  border-radius: 5px;
  margin-right: 20px;
}
header input {
  width: 500px;
  height: 50px;
  color: white;
  font-size: 16px;
  padding-left: 30px;
}
.search:hover {
  color: white;
}
header i {
  color: #333333;
  position: absolute;
}

/* input */

header input::placeholder {
  color: #333333;
  font-size: 15px;
}
.input-wrapper {
  font-size: 16px;
  position: relative;
  width: 500px;
  display: flex;
  align-items: center;
}
.input-highlight {
  font-size: 2em;
  user-select: none;
  border-top: 3px solid red;
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  height: 0;
  color: transparent;
  overflow: hidden;
}
input {
  width: 500px;
  height: 50px;
  color: white;
  font-size: 16px;
  padding-left: 30px;
  min-width: 100%;
  border-bottom: 3px solid #333333;
}

/* HOME PAGE */

.home_page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.home_page > div {
  width: 50%;
}
/* .home_page button {
  margin-bottom: 60px;
  font-size: 2em;
  text-decoration: none;
} */
.home_page h1 {
  color: white;
  margin-bottom: 60px;
  font-size: 1.5em;
}
.home_page a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.home_page > div img {
  opacity: 0.7;
  width: 450px;
  height: 300px;
  object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}
.home_page > div img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 1;
}
/* .home_page > div button:hover {
  display: none;
} */
.home_page > div:not(:last-child) {
  margin-right: 20px;
}

/* COMICS */

.comics {
  display: flex;
  flex-wrap: wrap;
}
.comics .item {
  display: flex;
  flex-direction: column;
  width: calc((100% / 4) - (60px / 3));
}
.comics .item {
  margin-right: 20px;
}
.item img {
  width: 325px;
  height: 478px;
  object-fit: cover;
}

/* Count */

.count {
  color: white;
  text-align: right;
  margin: 10px 0;
}
.count span {
  margin-right: 5px;
}
.count button {
  margin-right: 5px;
  color: red;
  background-color: #242424;
  font-size: 18px;
}
