/* GLOBAL RULES */

* {
  box-sizing: border-box;
}
body {
  font-family: "Marvel";
  background-color: rgb(36, 36, 36);
}
.container {
  width: 1340px;
  margin: 0 auto;
}
button {
  background-color: #ed161f;
  color: white;
  font-family: "Marvel";
  outline: none;
  cursor: pointer;
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
}

input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
  background-color: transparent;
  font-family: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
.hidden {
  visibility: hidden;
}
/* LOADER  */

.loader {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* HEADER  */

header {
  background-color: black;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}
header .container > div {
  display: flex;
  align-items: center;
}

header img {
  width: 125px;
  border-radius: 5px;
  margin-right: 20px;
}
header input {
  width: 500px;
  height: 50px;
  color: white;
  font-size: 16px;
  padding-left: 30px;
}
.search:hover {
  color: white;
}
header i {
  color: #333333;
  position: absolute;
}
header button {
  padding: 5px 10px;
}
header a:not(:last-child) {
  margin-right: 10px;
}
/* input */

header input::placeholder {
  color: #333333;
  font-size: 15px;
}
.input-wrapper {
  font-size: 16px;
  position: relative;
  width: 500px;
  display: flex;
  align-items: center;
}
.input-highlight {
  font-size: 2em;
  user-select: none;
  border-top: 3px solid red;
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  height: 0;
  color: transparent;
  overflow: hidden;
}
input {
  width: 500px;
  height: 50px;
  color: white;
  font-size: 16px;
  padding-left: 30px;
  min-width: 100%;
  border-bottom: 3px solid #333333;
}

/* FORM SIGN IN / SIGN UP */

.form {
  display: flex;
  height: 70vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
  font-size: 1.2em;
}
.form span {
  color: red;
  margin-bottom: 20px;
}
.form input {
  width: 300px;
  padding-left: 3px;
  font-size: inherit;
}
.form div {
  display: flex;
  align-items: center;
  position: relative;
  color: white;
}
.form div i {
  position: absolute;
  right: 0;
}
.form input[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  padding: 0;
  margin-top: 20px;
  border: none;
}

/* LIMIT  */

.limit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Pagination */

/* .pages {
  margin-bottom: 20px;
} */

.pages button {
  margin-right: 15px;
  /* background-color: #242424;
  color: white; */
  font-size: 14px;
}
.pages span {
  color: white;
  margin-right: 15px;
}

/* HOME PAGE */

.home_page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
}
.home_page > div {
  text-align: center;
  width: 100%;
  margin-top: 70px;
  color: whitesmoke;
  font-size: 1.3em;
}
/* .home_page button {
  margin-bottom: 60px;
  font-size: 2em;
  text-decoration: none;
} */
.home_page h1 {
  color: white;
  margin-bottom: 60px;
  font-size: 1.5em;
}
.home_page a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.home_page > div img {
  opacity: 0.7;
  width: 450px;
  height: 300px;
  object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}
.home_page > div img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 1;
}
/* .home_page > div button:hover {
  display: none;
} */
.home_page > div:not(:last-child) {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* .home_page > div > div {
  background-color: pink;
} */

/* COMICS */

.comics {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.comics .item {
  background-color: red;
  border-radius: 5px;
  height: 365px;
  display: flex;
  flex-direction: column;
  width: calc((100% / 6) - 15px);
  margin-bottom: 15px;
  margin-right: 18px;
  opacity: 0.8;
  overflow: hidden;
}

.comics .item:hover {
  opacity: 1;
}
.item .cadre {
  background-color: red;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.item .cadre > div {
  height: 300px;
  position: relative;
  overflow: hidden;
}
.item img {
  position: relative;
  width: 100%;
  height: 99%;
  overflow: hidden;
  object-position: top center;

  /* object-fit: cover; */
}
.item img:hover {
  transform: scale(1.2);
  transition: all 0.2s linear;
}
.comics .item:nth-child(6n) {
  margin: 0;
}
.item h2 {
  font-size: 18px;
  font-weight: 700;
}
.item p {
  text-overflow: ellipsis;
}
.item div:nth-child(2) {
  background-color: black;
  color: white;
  padding: 10px;
}

/* Count */

.count {
  color: white;
  text-align: right;
  margin: 10px 0;
}
.count span {
  margin-right: 5px;
}
.count button {
  margin-right: 5px;
  color: red;
  background-color: #242424;
  font-size: 18px;
}
